<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.employeetrackerapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmployeeTrackerApp">
        <activity android:name=".HalfdayRequestActivity"></activity>
        <activity android:name=".HalfdayActivity" />
        <activity android:name=".LeavesRequestActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".DashboardActivity"  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".AttendenceActivity" />
        <activity android:name=".SplashActriviy">

        </activity>
        <activity android:name=".EmployeeProfile" />
        <activity android:name=".LeavesActivity" />
        <activity android:name=".AdminActivity.AdminDashboardActivity">


        </activity>
        <activity android:name=".AdminActivity.LoginMainActivity"/>
        <activity android:name=".AdminActivity.SplashMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".AdminActivity.ActivieEmployeeActivity"/>
        <activity android:name=".AdminAdpters.AllRequestListActivity"/>
        <activity android:name=".AdminActivity.ApprovalApplicationActivity"/>
        <activity android:name=".AdminActivity.AllHalfdayRequestListActivity"/>
        <activity android:name=".AdminActivity.HalfdayApplicationApprovalActivity"/>
        <activity android:name=".AdminActivity.AddEmployeeAdminActivity"/>
    </application>

</manifest>